* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background: linear-gradient(120deg, red, blue);
}

.container {
    border: 1px solid black;
    width: 90vw;
    background: linear-gradient(to right, blue, red);
    border-radius: 20px;
    padding: 5vh 3vw;
}

.heading {
    width: 100%;
    color: rgb(211, 201, 201);
    text-align: center;
}

.grid {
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 5vh 2vw;
    gap: 2vh 2vw;
    border-radius: 5px;
    background: linear-gradient(120deg, red, blue);

}

.items {
    border-radius: 5px;
    min-height: 20vh;
    color: #f1f1f1;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2vh 0;
    transition: transform .3s ease-in-out;
    
}
.items:hover
{
    transform: scale(1.1);
}
.dropdown
{
    width: 100%;
    margin: 5vh 0;
    display: flex;
    justify-content: space-evenly;
}
.dropdown ul{
    display: flex;
    list-style: none;
    gap: 2vw;
}
.dropdown ul li,.dropdown ul li a
{   width: calc(50vw/3);
    background-color: black;
    color: yellow;
    text-align: center;
    height: 4vh;
    border-radius: 250px;
    text-decoration: none;
}
#selectMenu
{
    width: 30vw;
    background-color: black;
    color: yellow;
    text-align: center;
    height: 4vh;
    border-radius: 250px;
}

.grid2
{
    margin-top: 10vh;
    grid-template-columns: repeat(2,1fr);
}

.grid2 .items
{
    min-height: 40vh;
}


.grid2 .items button
{
    border: none;
    padding: 10px;
    background: none;
    background-color: black;
    font-weight: bold;
    color: #f1f1f1;
    border-radius: 250px;
}
.buttons
{
    display: flex;
    gap: 10px;
}

@media screen and (max-width:500px)
 {
    .grid
    {
        grid-template-columns: repeat(1, 1fr);
    }
}